@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'base';
@import './components/header';
@import './components/banner';
@import './components/hot-deals';
@import './components/featured-items';
@import './components/our-advantages';
@import './components/section-nav';
@import './components/filter';
@import './components/pagination';
@import './components/slider';
@import './components/product-details';
@import './components/select-wrapper';
@import './components/cart';
@import './components/product-form';
@import './components/product-featured';
@import './components/registration';
@import './components/footer';
@import './components/catalog';
