.banner {
    background-color: #F1E4E6;

    &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &-bg,
    &-content {
        box-sizing: border-box;
        width: 50%;
        padding: 0 15px;
    }

    &-bg {
        background-image: url(../img/banner-bg.png);
        height: 764px;
        background-position: -200px 0;
    }

    &-title {
        position: relative;
        max-width: 100%;
        margin: 0 0 0 48px;
        padding-left: 28px;
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        text-transform: uppercase;

        &::before {
            content: '';
            width: 12px;
            height: 92px;
            top: 0;
            background: #F16D7F;
            left: 0;
            position: absolute;
        }

        &-big {
            display: block;
            font-size: 48px;
            line-height: 57px;
        }

        &-highlight {
            color: #F16D7F;
        }
    }
}
