.cart {
    padding: 96px 0 128px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-products-btns {
        margin-top: 73px;
        display: flex;
        justify-content: space-between;

        button {
            color: #000;
            font-weight: 300;
            padding: 16px 39px;
            background-color: $main-bg;
            border: 1px solid #A4A4A4;
            text-transform: uppercase;

            &:hover {
                opacity: .8;
            }
        }
    }

    &-product {
        display: flex;
        max-width: 652px;
        width: 100%;
        min-height: 306px;
        box-sizing: border-box;
        margin-bottom: 40px;
        background: $main-bg;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));

        img {
            height: 100%;
            max-height: 306px;
        }

        &-content {
            padding: 22px 97px 22px 31px;
        }

        &-content h3 {
            max-width: 262px;
            margin: 0 0 42px 0;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
        }

        &-txt {
            color: #575757;
            margin-bottom: 6px;
            font-size: 22px;
            line-height: 26px;
        }

        &-value-color {
            color: $secondary-color;
        }

        &-quantity {
            display: inline-block;
            margin-left: 24px;

            input {
                box-sizing: border-box;
                width: 43px;
                max-height: 25px;
                border: 1px solid #EAEAEA;
                font-size: 18px;
                line-height: 22px;
                color: #656565;
                text-align: right;
            }
        }
    }

    &-form {
        padding: 17px;
        padding-left: 129px;
        min-width: 360px;

        h3 {
            margin: 0 0 20px 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
        }

        &-button {
            margin: 24px 0 58px;
            display: block;
            min-width: 100px;
            padding: 10px 0;
            justify-content: center;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            border: 1px solid #A4A4A4;
            text-transform: uppercase;
            background: #fff;


        }

        &-item {
            margin-bottom: 21px;

            input {
                box-sizing: border-box;
                padding: 13px 17px;
                border: 1px solid #A4A4A4;
                width: 100%;

                &:focus {

                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }

        &-subtotal {
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            margin-bottom: 12px;

            span {
                display: inline-block;
                min-width: 50px;
            }
        }

        &-grandtotal {
            margin-bottom: 21px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;

            span {
                display: inline-block;
                min-width: 70px;
                color: $secondary-color;
                font-weight: 700;
            }
        }

        &-total {
            background-color: #F5F3F3;
            padding: 39px 34px 42px;
            text-transform: uppercase;
            text-align: right;

            &-btn {
                background: $secondary-color;
                color: #fff;
                min-height: 50px;
                width: 100%;
                border: none;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;

                &:hover {
                background-color: #E05C6E;
            }

                &-wrp {
                    border-top: 1px solid #E2E2E2;
                    padding-top: 17px;
                    width: 100%;
                    max-width: 275px;
                    margin: 0 auto;
                }
            }
        }
    }
}
