.select-wrapper {
    margin: 0 11px;

    select {
        display: block;
        border: none;
        text-transform: uppercase;
        color: #6F6E6E;
    }

    select:focus {
        border: none;
    }
}
